/****************
 * COLOR PALETTE
 ****************/
$palette: (
	// Transparent
	trans: transparent,

	// Blues
	xxBlueDark:      #005cbf,
	xBlueDark:       #0062cc,
	blueDark:        #0069d9,
	blue:            #007bff,

	// Greens
	xxGreenDark:     #1c7430,
	xGreenDark:      #1e7e34,
	greenDark:       #218838,
	green:           #28a745,

	// Greys
	xxGreyDark:      #4e555b,
	xGreyDark:       #545b62,
	greyDark:        #5a6268,
	grey:            #6c757d,

	// Reds
	xxRedDark:       #b21f2d,
	xRedDark:        #bd2130,
	redDark:         #c82333,
	red:             #dc3545,

	// Turquoise
	xxTurquoisDark:  #10707f,
	xTurquoisDark:   #117a8b,
	turquoisDark:    #138496,
	turquois:        #17a2b8,

	// Yellows
	xxYellowDark:    #c69500,
	xYellowDark:     #d39e00,
	yellowDark:      #e0a800,
	yellow:          #ffc107,

	// Darks
	dark:            #212529,

	// White
	white:           white
);