common:
	build: server: false
	browser: open: false, reload: false

	dist:
		client:
			paths:
				absolute: false

	exclude:
		default:
			client:
				files: true

	extra:
		copy:
			client: [
				'package.json'
			]

	# currently can't minify es6 javascript
	# therefore prod build breaks - TODO: fix
	minify:
		html:
			templateCache: false

	compile:
		jsHtmlImports:
			client:
				enable: true
demo:
	build: server: true
	browser: open: true, reload: true

	ports:
		server: 5004
		reload: 5005

	extra:
		copy:
			client: [
				'node_modules/**'
			]