<button
	type="${props.type}"
	?disabled="${props.disabled}"
	@click="${this._handleClick.bind(this)}"
	class="
		${props.kind}
		${props.size}
		${props.iconKind ? 'with-icon' : ''}
		${props.iconKind && props.iconPosition ? `icon-${props.iconPosition}` : ''}
		no-content
	">
	<slot @slotchange="${this._setHasContent.bind(this)}"></slot>
	${!props.iconKind ? null : html`
		<rb-icon
			kind="${props.iconKind}"
			size="${props.iconSize}"
			source="${props.iconSource}">
		</rb-icon>
	`}
</button>

<link rel="stylesheet" href="../styles/rb-button.css">
