/*********
 * COMMON
 *********/
button {
	margin: 0;
	outline: none;
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	white-space: nowrap;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
}
