/*********
 * COMMON
 *********/
button {
	display: inline-flex;
	margin: 0;
	outline: none;
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	white-space: nowrap;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
