/*********
 * COMMON
 *********/
& {
	display: inline-flex;
	outline: none;
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	white-space: nowrap;
	border-radius: var(--border-radius);
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
