/*******
 * ICON
 *******/
&.with-icon.icon-left {
	flex-direction: row-reverse;
}

&.no-content.with-icon {
	rb-icon {
		left: 0 !important;
		right: 0 !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

&.with-icon {
	rb-icon { position: relative; }
}

&.with-icon {
	rb-icon { top: remy(1); }
	&.big {
		&.icon-left {
			rb-icon { right: remy(2); }
		}
		&:not(.icon-left) {
			rb-icon { left: remy(2); }
		}
	}
}

&.with-icon:not(.no-content) {
	&.icon-left {
		rb-icon { margin-right: remy(8); }
	}
	&:not(.icon-left) {
		rb-icon { margin-left: remy(8); }
	}
	&.small {
		&.icon-left {
			rb-icon { margin-right: remy(5); }
		}
		&:not(.icon-left) {
			rb-icon { margin-left: remy(5); }
		}
	}
}

&.text.with-icon {
	rb-icon { top: 0; }
	&.icon-left {
		rb-icon { margin-right: remy(5); }
	}
	&:not(.icon-left) {
		rb-icon { margin-left: remy(5); }
	}
}