/********
 * KINDS
 ********/
&.default {
	border-color: var(--default-border-color);
	background-color: var(--default-bg-color);
	color: var(--default-color);

	&:hover:not(:disabled) {
		background-color: var(--default-hover-bg-color);
		border-color: var(--default-hover-border-color);
	}
	&:active:not(:disabled) {
		background-color: var(--default-active-bg-color);
		border-color: var(--default-active-border-color);
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
	}
}
&.danger {
	background-color: var(--danger-bg-color);
	border-color: var(--danger-border-color);
	color: var(--danger-color);
	&:hover:not(:disabled) {
		background-color: var(--danger-hover-bg-color);
		border-color: var(--danger-hover-border-color);
	}
	&:active:not(:disabled) {
		background-color: var(--danger-active-bg-color);
		border-color: var(--danger-active-border-color);
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
	}
}
&.info {
	background-color: var(--info-bg-color);
	border-color: var(--info-border-color);
	color: var(--info-color);
	&:hover:not(:disabled) {
		background-color: var(--info-hover-bg-color);
		border-color: var(--info-hover-border-color);
	}
	&:active:not(:disabled) {
		background-color: var(--info-active-bg-color);
		border-color: var(--info-active-border-color);
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
	}
}
&.success {
	background-color: var(--success-bg-color);
	border-color: var(--success-border-color);
	color: var(--success-color);
	&:hover:not(:disabled) {
		background-color: var(--success-hover-bg-color);
		border-color: var(--success-hover-border-color);
	}
	&:active:not(:disabled) {
		background-color: var(--success-active-bg-color);
		border-color: var(--success-active-border-color);
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
	}
}
&.warning {
	background-color: var(--warning-bg-color);
	border-color: var(--warning-border-color);
	color: var(--warning-color);
	&:hover:not(:disabled) {
		background-color: var(--warning-hover-bg-color);
		border-color: var(--warning-hover-border-color);
	}
	&:active:not(:disabled) {
		background-color: var(--warning-active-bg-color);
		border-color: var(--warning-active-border-color);
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
	}
}
&.text {
	padding: inherit;
	min-height: inherit;
	border: inherit;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: transparent;
}
